//
// Root
//

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $root-font-size !important;
    font-weight: $font-weight-base;
    font-family: $font-family-sans-serif;
    // background-image: url('../../../../../../public/media/patterns/header-bg.jpg');
    background-image: url('../../../../../../public/media/book/guohua_bg.jpeg');
    background-size: 100% 600px !important;
    background-repeat: no-repeat;
    // Tablet mode
    @include media-breakpoint-down(lg) {
        font-size: $root-font-size-lg !important;
    }

    // Mobile mode
    @include media-breakpoint-down(md) {
        font-size: $root-font-size-md !important;
    }    
}

body {
    display: flex;
    flex-direction: column;

    a:hover,
    a:active,
    a:focus {
        text-decoration: none !important;
    }
}

canvas {
    user-select: none;
}

// Angular integration
router-outlet {
    display: none;
}
#root{
    z-index: 2;
}

.header-mask{
    width: 100%;
    height: 600px;
    background: black;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    border-radius: 0% 0% 5% 5%;
}